EXPO_PUBLIC_SUPABASE_URL=https://lhjlyzpdhxmdpkpmrlfe.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_YcbERBRAqB9YtBN6KLyajQ_js8Vabuh
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_xxx
EXPO_PUBLIC_LEGAL_BASE_URL=https://YOUR_DOMAIN.example
