EXPO_PUBLIC_SUPABASE_URL=https://mxygxdpzhqsnlewjctgg.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_7gl-ELtfQnnn28f9pmZ_Lw_x-9oRq1Q
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_xxx
EXPO_PUBLIC_LEGAL_BASE_URL=https://YOUR_DOMAIN.example
